<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  {{href}}
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="../assets/logo.png" />

      <h4 class="name">Fernando Andrade</h4>
      <p class="designation">Development Jr</p>

      <mat-divider></mat-divider>

      <a mat-button class="menu-button"  routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Incio</span>
      </a>
      <a mat-button class="menu-button"  routerLink="/movie">
          <mat-icon>movie</mat-icon>
          <span>Movie</span>
      </a>
      <a mat-button class="menu-button"  routerLink="/actor">
        <mat-icon>person</mat-icon>
        <span>Actor</span>
      </a>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>