mat-toolbar {
    background: #FBB21B;
    color: #393D3F;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #FBB21B;
    color: #393D3F;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

}

.menu-button mat-icon {
    margin-right: 8px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: #393D3F;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #546A7B;
}