<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{movieAction}} Movie</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formMovie">
      <div class="mb-3">
        <label>Id</label>
        <input type="text" formControlName="movieId" class="form-control form-control-lg" [disabled]=false>
        <label>Title</label>
        <input type="text" formControlName="title" class="form-control form-control-lg">
        <label>Year</label>
        <input type="text" formControlName="year" class="form-control form-control-lg">
        <label>Duration</label>
        <input type="text" formControlName="duration" class="form-control form-control-lg">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" type="submit"  (click)="actionOpen()">{{movieAction}}</button>
  </div>
</ng-template>
<form>
  <div class="mb-3 row">
    <div class="col">
      <button class="btn btn-lg btn-outline-warning"  (click)="openInsert(content)">Insert Movie</button>
    </div>
  </div>
  <hr>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table  table-striped mb-0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Year</th>
          <th>Duration</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of dataMovies">
          <th scope="row">{{movie.movieId}}</th>
          <td>{{movie.title}}</td>
          <td>{{movie.year}}</td>
          <td>{{movie.duration}}</td>
          <td><button class="btn btn-warning" (click)="openUpdate(content,movie)">Update</button></td>
          <td><button class="btn btn-danger" type="submit" (click)="deleteMovie(movie.movieId.toString())">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>