<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{actorAction}} Actor</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formactor">
        <div class="mb-3">
          <label>Id</label>
          <input type="text" formControlName="actorId" class="form-control form-control-lg" [disabled]=false>
          <label>name</label>
          <input type="text" formControlName="name" class="form-control form-control-lg">
          <label>Country</label>
          <input type="text" formControlName="country" class="form-control form-control-lg">
          <label>birthday</label>
          <input type="text" formControlName="birthday" class="form-control form-control-lg">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" type="submit"  (click)="actionOpen()">{{actorAction}}</button>
    </div>
  </ng-template>
  <form>
    <div class="mb-3 row">
      <div class="col">
        <button class="btn btn-lg btn-outline-warning"  (click)="openInsert(content)">Insert actor</button>
      </div>
    </div>
    <hr>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table  table-striped mb-0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
            <th>Birthday</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actor of dataActor">
            <th scope="row">{{actor.actorId}}</th>
            <td>{{actor.name}}</td>
            <td>{{actor.country}}</td>
            <td>{{actor.birthday}}</td>
            <td><button class="btn btn-warning" (click)="openUpdate(content,actor)">Update</button></td>
            <td><button class="btn btn-danger" type="submit" (click)="deleteActor(actor.actorId.toString())">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
